FROM ${CENT_OS_BASE_IMAGE}
CMD set -x \
    && yum -y install openssh-server openssh-clients \
    && systemctl enable sshd \
    && mkdir -p /root/.ssh \
    && chmod 700 /root/.ssh
CMD ["/usr/sbin/init"]